{% extends "base.html" %}
{% block content %}
{#    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">#}
{#						<div class="page-sidebar-area">#}
{##}
{#							<!-- vote area start -->#}
{#							<div class="community-vote single-sidebar">#}
{#								<div class="bar-title">#}
{#									<div class="bar-ping"><img src="{{ url_for('static', filename='img/bar-ping.png') }}" alt=""></div>#}
{#									<h2>Community</h2>#}
{#								</div>#}
{#								<p>What is your favorite color ?</p>#}
{#								<div class="vote-area">#}
{#									<p><input type="radio" value="1" name="vote"><label>Green</label></p>#}
{#									<p><input type="radio" value="1" name="vote"><label>Blue</label></p>#}
{#									<p><input type="radio" value="1" name="vote"><label>Yellow</label></p>#}
{#									<p><input type="radio" value="1" name="vote"><label>Black</label></p>#}
{#									<a href="#">Vote</a>#}
{#								</div>#}
{#							</div>#}
{#							<!-- vote area end -->#}
{#						</div>#}
{#					</div>#}
<!-- contact-details start -->
		<div class="main-contact-area">
			<div class="container" >
				<div class="row">
					<div class="col-xs-15 col-sm-15 col-md-9 col-lg-9">
						<div class="page-sidebar-area">
							<!-- popular tag start -->
							<aside class="widge-topbar">
								<div class="bar-title">
									<div class="bar-ping"><img src="{{ url_for('static', filename='img/bar-ping.png') }}" alt=""></div>
										<h2>분유</h2>
								</div>
{#								<p>선호하는 분유 브랜드가 있으신가요?</p>#}
								<div class="vote-area">
									<p>
                                        <input type="radio" value="1" name="vote"><label>남양</label>&emsp; &emsp;
                                        <input type="radio" value="1" name="vote"><label>일동 후디스</label>&emsp; &emsp;
                                        <input type="radio" value="1" name="vote"><label>파스퇴르</label>&emsp; &emsp;
                                        <input type="checkbox" value="1" name="vote"><label>아이엠마더</label>&emsp; &emsp;
                                        <input type="checkbox" value="1" name="vote"><label>앱솔루트</label>&emsp; &emsp;
                                        <input type="checkbox" value="1" name="vote"><label>기타</label>&emsp; &emsp;

                                    </p>
{#									<a href="#">Vote</a>#}
								</div>
							</aside>
                            <hr>
							<aside class="sidebar-content">
								<div class="bar-title">
									<div class="bar-ping"><img src="{{ url_for('static', filename='img/bar-ping.png') }}" alt=""></div>
										<h2>기저귀</h2>
								</div>
								<div class="vote-area">
								    <p>
                                        <input type="radio" value="1" name="vote"><label>하기스</label>&emsp; &emsp;
                                        <input type="radio" value="1" name="vote"><label>보솜이</label>&emsp; &emsp;
                                        <input type="radio" value="1" name="vote"><label>베피스</label>&emsp; &emsp;
                                        <input type="checkbox" value="1" name="vote"><label>국내 브랜드 전체</label>&emsp; &emsp;
                                        <input type="checkbox" value="1" name="vote"><label>해외 브랜드 전체</label>&emsp; &emsp;
                                        <input type="checkbox" value="1" name="vote"><label>기타</label>&emsp; &emsp;

                                    </p>
{#									<a href="#">Vote</a>#}
								</div>
							</aside>
							<!-- popular tag end -->
							<!-- vote area start -->
                            <hr>
							<div class="community-vote single-sidebar">
								<div class="bar-title">
									<div class="bar-ping"><img src="{{ url_for('static', filename='img/bar-ping.png') }}" alt=""></div>
									<h2>장난감</h2>
								</div>
								<div class="vote-area">
									<p>
                                        <input type="radio" value="1" name="vote"><label>감각발달완구</label>&emsp; &emsp;
                                        <input type="radio" value="1" name="vote"><label>아기체육관</label>&emsp; &emsp;
                                        <input type="radio" value="1" name="vote"><label>러닝홈/아기놀이터</label>&emsp; &emsp;
                                        <input type="checkbox" value="1" name="vote"><label>아기걸음마</label>&emsp; &emsp;
                                        <input type="checkbox" value="1" name="vote"><label>모빌</label>&emsp; &emsp;
                                        <input type="checkbox" value="1" name="vote"><label>장난감 전체</label>&emsp; &emsp;
                                        <input type="checkbox" value="1" name="vote"><label>기타</label>&emsp; &emsp;
                                    </p>
{#									<a href="#">Vote</a>#}
								</div>
							</div>
							<!-- vote area end -->
                            <!-- vote area start -->
                            <hr>
							<div class="community-vote single-sidebar">
								<div class="bar-title">
									<div class="bar-ping"><img src="{{ url_for('static', filename='img/bar-ping.png') }}" alt=""></div>
									<h2>과자</h2>
								</div>
								<div class="vote-area">
									<p>
                                        <input type="radio" value="1" name="vote"><label>베베비앙</label>&emsp; &emsp;
                                        <input type="radio" value="1" name="vote"><label>후디스</label>&emsp; &emsp;
                                        <input type="radio" value="1" name="vote"><label>파스퇴르</label>&emsp; &emsp;
                                        <input type="checkbox" value="1" name="vote"><label>기타</label>&emsp; &emsp;
{#                                        <input type="checkbox" value="1" name="vote"><label>앱솔루트</label>&emsp; &emsp;#}
{#                                        <input type="checkbox" value="1" name="vote"><label>기타</label>&emsp; &emsp;#}

                                    </p>
                                    <a><button type="submit" class="btn btn-default">제출하기</button></a>
{#									<a href="#">선택 완료</a>#}
								</div>
							</div>
                            <hr>

							<!-- vote area end -->
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- contact-details end -->
{% endblock content %}